body {
    margin: 0px;

  }  * {
    padding: 0;
    margin: 0;

  }

  header {
    position: fixed;
    width: 101%;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-left: -0.5%;
    margin-bottom: 300px;
    border-radius: 10px;
  
    transition: top 0.8s;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  #navDiv1 > a:hover {
    text-decoration-line: underline;
  }
  #navDiv1 > a {
    text-decoration-style: none;
    color: white;
    text-decoration-line: none;
    padding: 4px;
    font-size: smaller;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 11px;
  }
  #navDiv1 {
    padding: 4.5px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-around;
  }
  #navDiv2 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #navDiv2 > a > img {
    width: 70px;
    height: 47px;
    padding: 16px;
  }
  /* #fav1 {
    display: inline-block;
    vertical-align: top;
  } */
  #bag {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  #bag1,
  #bag2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  #bag1 {
    margin-top: 5px;
  }
  #bag2 {
    margin-top: 20px;
  }
  #fav {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 45px;
    margin-left: 50px;
    transition: top 1s;
  }
  .a2 > a > p:hover {
    color: black;
  }
  .a2 > a:hover {
    cursor: pointer;
    text-decoration: underline;
    /* padding-right: 1.5px; */
    /* padding-left: .5px; */
    color: black;
  }
  .a2 > a {
    text-decoration-line: none;
    color: black;
    /* padding: 2.5px; */
    /* background-color: white; */
  }

  .shopping{
      padding-left: 60px;
      padding-right: 60px;
  }

  .adimg{
      margin-top: 40px;
      margin-left: 40px;
      height: 78px;
      width: 252px;
  }


  .a1:hover {
    background-color: black;
  }
  .a1 > p:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
  }
  nav {
    display: flex;
    flex-direction: column;
  }

  
  


  #mainContent {
    /* margin-top: 300px; */
    padding-top: 200px;
    width: 20%;
  }
  

  input {
    vertical-align: top;
  }
  /* ---------------------------------------------- */
  
  * {
    font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  }
  #adidasnav {
    padding-top: 100px;
  }

  .adidasLogo {
    width: 70px;
    margin-top: 15px;
    margin-left: 50px;
    cursor: pointer;
  }
  #rightSideBox {
    height: 100%;
    width: 10%;
    margin-top: 0.5%;
    margin-left: 80%;
  }
  
  #rightSideBox > a > button {
    margin-left: 1%;
    background-color: white;
    border: 0px solid white;
    color: black;
    cursor: pointer;
  }
  
  #rightSideBox > a > button:hover {
    cursor: pointer;
  }
  
  #rightSideBox > p {
    margin-top: 5%;
    margin-left: 50%;
  }
  
  #tileOne {
    margin: auto;
    /* margin-top: -40px; */
    width: 100%;
    height: 700px;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enIN/Images/upto_60_per_11th_jan_D_tcm209-832888.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 130px;
  }
  #textA {
    margin-left: 20px;
    /* margin-top: 2%; */
    color: white;
    font-size: 1.5rem;
    padding: 70px;
    z-index: 1;
  }
  
  .btns > button {
    width: 180px;
    margin-left: 90px;
    margin-top: 110px;
    padding: 15px 15px;
    border-width: 3px;
    border-style: outset;
    border-color: white;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
  }
  .btns > button:hover {
    color: gray;
  }
  #deepi {
    /* border: 5px solid green; */
    height: 250px;
    margin-top: 250px;
    margin-left: auto;
  }
  #tileTwo {
    /* margin-top: 140px; */
    margin: auto;
    width: 80%;
    height: 30px;
  }
  .tileTwoHeading {
    font-size: 27px;
    font-weight: 750;
    margin-left: 35%;
    margin-top: 30%;
  }
  #tileTwoDetails {
    display: flex;
    width: 800px;
    margin-top: 35px;
    margin-left: 20%;
  }
  #tileTwoDetails > a {
    display: flex;
    margin: 1%;
    height: 20px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border: 1px solid rgb(196, 190, 190);
    cursor: pointer;
  }
  #tileTwoDetails > a:hover {
    border: 1px solid black;
  }
  #deep {
    border: 1px solid transparent;
    width: 99.89%;
    height: 550px;
    background-image: url("https://www.very.co.uk/assets/static/2021/brandstores/adidas/june-brandstore-update/june-brandstore-update/mobile.jpg");
    background-size: cover;
  }
  .deeptxt {
    width: 30%;
    height: 5%;
    margin-top: 150px;
    margin-left: 50px;
    /* border:1px solid red; */
    font-size: 38px;
    font-weight: bolder;
    color: white;
  }
  /* #deep>a>.deeptext:hover{
    text-decoration: none;
    color: white;
  } */
  #smltxt {
    color: white;
    font-size: 25px;
  }
  .sml {
    padding: 10px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 19px;
    /* border:1px solid red; */
    color: white;
    font-weight: 300;
  }
  
  .sbtns > button {
    width: 150px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 8px 10px;
    border-width: 3px;
    border-style: outset;
    border-color: white;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
  }
  .sbtns > button:hover {
    color: gray;
  }
  #interest {
    /* border: 1px solid red; */
    height: 450px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #fbfdff;
  }
  #interest > i {
    /* margin-top: 20px; */
    margin-left: 120px;
    font-weight: 520;
    font-size: 27px;
  }
  #box {
    /* border: 1px solid purple; */
    margin-top: -25px;
    margin-left: 20px;
    width: 99%;
    gap: 25px;
    padding-left: -100px;
    height: 430px;
  }
  #t {
    /* border: 1px solid red; */
    margin-left: 95px;
    margin-top: 5%;
    height: 55px;
    width: 270px;
  }
  #t > h3 {
    margin-top: 18px;
    font-style: italic;
    font-weight: 540;
    font-size-adjust: 18;
    font-family: AdihausDIN Cn, Helvetica, Arial, sans-serif;
    font-size: 22px;
    cursor: pointer;
  }
  /* a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
  } */
  .imgdiv {
    display: flex;
    width: 87%;
    height: 80%;
    gap: 1%;
    margin-left: 93px;
    /* border: 1px solid green; */
  }
  .a {
    
    width: 30%;
    height: 100%;
  }
  .a:hover {
    border: 1px solid black;
    cursor: pointer;
  }
  .img1 {
    /* border: 1px solid red; */
    width: 100%;
    height: 260px;
    background-image: url("https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/1f71f60e10394dd5b25aac8a01069c4e_9366/4athlts-id-duffel-bag-medium.jpg");
    background-size: cover;
    /* background-size: auto;    */
  }
  
  .img2 {
    /* border: 1px solid red ; */
    width: 100%;
    height: 260px;
    background-image: url("https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/e947ad16b6864aa1bb6aadc700078fba_9366/YEEZY_500_Brown_GX3606_01_standard.jpg");
    background-size: cover;
    /* background-size: auto; */
  }
  .img3 {
    /* border: 1px solid red ; */
    width: 100%;
    height: 260px;
    background-image: url("https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/7eeb56d46e5d43b09e25ac8400c907bf_9366/fast-primeblue-tee.jpg");
    background-size: cover;
    /* background-size: auto; */
  }
  .img4 {
    /* border: 1px solid red ; */
    width: 100%;
    height: 260px;
    background-image: url("https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/48e018e43541465a96b4ad7300f81ad0_9366/GU0992_00_plp_standard.jpg");
    background-size: cover;
    /* background-size: auto; */
  }
  .img5 {
    /* border: 1px solid red ; */
    width: 100%;
    height: 260px;
    background-image: url("https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3af2b61640074dba9eb2ad100114318d_9366/H22850_21_model.jpg");
    background-size: cover;
    /* background-size: auto; */
  }
  .heart {
    margin-left: 85%;
    /* border: 1px solid red; */
    height: 45px;
    width: 35px;
  }
  .far {
    height: 170px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    width: 160px;
  }
  .let {
    /* border: 1px solid green; */
    width: 99%;
    height: 20px;
    color: grey;
    font-size: small;
  }
  .aa {
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 45px;
    width: 100%;
  }
  
  #tileThree {
    width: 95%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
  }
  .tileThreeHeading {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12%;
    margin-left: 2%;
  }
  .tileThreeImages {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .tileThreeImages > div {
    margin: 1.5%;
    min-width: 30%;
  }
  .tileMen {
    /* border: 1px solid red; */
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/evergreen-homepage-gender-navigation-men-mb_tcm209-761438.jpg");
    background-size: cover;
    width: 100%;
    /* height: 90%; */
    background-position: center;
    /* cursor: pointer; */
  }
  .tileMen > h3 {
    text-align: center;
    margin-top: 34%;
    color: white;
  }
  .tileWomen {
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/womens_2_tcm209-792186.png");
    background-size: cover;
    background-position: -120px;
    /* cursor: pointer; */
  }
  .tileWomen > h3 {
    text-align: center;
    margin-top: 34%;
    color: white;
  }
  .tileKids {
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/kids_1_tcm209-792188.png");
    background-size: cover;
    /* background-position: -80px; */
    /* cursor: pointer; */
  }
  .tileKids > h3 {
    text-align: center;
    margin-top: 34%;
    color: white;
  }
  /* --------------------------------------------------------------- */
  .hotcontain {
    /* border: 1px solid red; */
    height: 500px;
    width: 100%;
    /* overflow: auto; */
    
    margin-top: 5%;
  }
  .hotcontain::-webkit-scrollbar {
    width: 12px;
  }
  #headht {
    /* border: 1px solid red; */
    margin-left: 90px;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 30px;
    width: 270px;
    font-size: 28px;
    font-weight: 700;
  }
  
  #imght {
    /* border: 1px solid purple; */
    height: 100%;
    display: flex;
    width: 100%;
    gap: 1%;
  }
  #imght1 {
    /* border: 1px solid red; */
    height: 100%;
    width: 260px;
    margin-left: 90px;
    cursor: pointer;
  }
  
  #imght2 {
    /* border: 1px solid red; */
    height: 100%;
    width: 260px;
    cursor: pointer;
  }
  #imght3 {
    /* border: 1px solid red; */
    height: 100%;
    width: 260px;
    cursor: pointer;
  }
  #imght4 {
    /* border: 1px solid red; */
    height: 100%;
    width: 260px;
    cursor: pointer;
  }
  #imght5 {
    /* border: 1px solid red; */
    height: 100%;
    width: 260px;
    cursor: pointer;
  }
  .i1 {
    /* border:1px solid red; */
    height: 70%;
    width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/originals-fw21-superearth-teaser-carousel_tcm209-799368.jpg");
    background-position: center;
    background-size: cover;
  }
  .i2 {
    /* border:1px solid red; */
    height: 70%;
    width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/originals-fw21-js-forum-money-low-onsite-teaser-carousel_tcm209-794366.jpg");
    background-size: cover;
    background-position: center;
  }
  .i3 {
    /* border:1px solid red; */
    height: 70%;
    width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/fw21-pw-sichona-burgundy-onsite-teaser-carousel_tcm209-762154.jpg");
    background-size: cover;
    background-position: center;
  }
  .i4 {
    /* border:1px solid red; */
    height: 70%;
    width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/adicolor-FW21-Oct-HP_Teaser-Carousel-3-D-M-T_tcm209-730009.jpg");
    background-size: cover;
    background-position: center;
  }
  .i5 {
    /* border:1px solid red; */
    height: 70%;
    width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/Originals-FW21-marimekko-launch-tc-d_tcm209-787830.jpg");
    background-size: cover;
    background-position: center;
  }
  #ht1 {
    /* border: 1px solid red; */
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  #htdetail {
    /* border: 1px solid greenyellow; */
    height: 75px;
    font-size: 15px;
    line-height: 20px;
    color: #363738;
    margin-bottom: 20px;
  }
  .htshp {
    /* border: 1px solid blue; */
    /* width: 200px; */
    color: black;
    line-height: 40px;
    font-size: 13px;
    font-weight: 750;
    text-decoration: underline;
  }
  .htshp:hover {
    background-color: black;
    color: white;
  }
  /* ------------------------------------- */

  a {
    color: black;
    text-decoration: none;
  }
  .info {
    margin-top: 35px;
    width: 99.89%;
    height: 580px;
    background-color: #e9ecef;
    /* vertical-align: top; */
    /* text-align: center; */
  }
  .info-1 {
    display: inline-block;
    margin: auto;
    margin-left: 170px;
    margin-right: 30px;
    margin-top: 80px;
    /* max-width: 500px; */
  }
  .info-2 {
    display: inline-block;
    margin: auto;
    /* max-width: 500px; */
    margin-top: 80px;
    vertical-align: top;
  }
  .info-1 > h6,
  .info-2 > h6 {
    font-size: 12px;
    font-family: AdihausDIN, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 550;
    margin-bottom: 25px;
  }
  pre {
    font-size: 14px;
    line-height: 20px;
    color: rgb(61, 61, 61);
  }
  
  #footer {
    background-color: #363738;
    font-style: normal;
    color: #c8cbcc;
    height: 110px;
    margin-top: 12px;
    font-size: 12px;
    border: 1px solid #363738;
  }
  
  #footer > p:first-child {
    display: inline-block;
    /* margin: 10% 0% 2% 16%; */
  }
  
  #footer > p:nth-child(2) {
    display: inline-block;
    margin: 1% 0% 2% 45%;
  }
  
  #footer > p:last-child {
    margin: 0% 0% 2% 16%;
  }
  
  @media (max-width: 600px) {
    #topHeader div {
      color: black;
    }
  
    #rightSideBox {
      width: 40%;
      height: 80%;
      margin-left: 30%;
      margin-top: 2%;
    }
  
    #tileOne {
      width: 600px;
      height: 700px;
      object-fit: cover;
      background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enIN/Images/y-3_ss21_drop3_hp_mh_d_tcm209-782054.jpg");
      background-size: cover;
      background-position-x: 87.5%;
    }
  
    #tileTwo {
      width: 100%;
      height: 0px;
    }
    .tileTwoHeading {
      color: white;
    }
    #tileTwoDetails > a {
      color: white;
      border: 0px solid white;
    }
  
    #tileThree {
      width: 350px;
      height: 1200px;
      margin: auto;
    }
    .tileThreeHeading {
      font-size: 20px;
      font-weight: 700;
      margin-top: 1%;
      margin-left: 15px;
    }
    .tileThreeImages {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .tileThreeImages h3 {
      margin-top: 40%;
    }
    .tileThreeImages > div {
      margin: 1.5%;
      margin-left: 10px;
      min-width: 330px;
    }
  }
  
  #boxY2 {
    width: 100%;
    height: 120px;
    background-color: #ede734;
    margin-top: -80px;
  
    /* text-align: center; */
  }
  #boxY3 {
    width: 100%;
    height: 300px;
    margin: auto;
  }
  #boxY4 {
    width: 100%;
    height: 120px;
    margin: auto;
    background-color: #363738;
  }
  .boxY1-1 {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 0px 10px 0px 10px;
  }
  .DiscriptionY {
    text-align: center;
    font-size: 30px;
    font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  }
  
  .boxY1-1 > p {
    text-align: center;
    font-size: 18px;
  }
  .boxY2-1 {
    width: 70%;
    height: 40%;
    margin: auto;
    margin-top: 35px;
    display: flex;
  }
  .boxY2-2 {
    width: 58%;
    height: 100%;
  }
  .boxY2-2-1 {
    width: 90%;
    height: 70%;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  .boxY2-3 {
    width: 40%;
  }
  .boxY2-3 > button {
    width: 125px;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
  
    gap: 30px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .boxY2-3 > button:hover {
    color: grey;
  }
  .boxY2-3 > button > div:nth-child(1) {
    padding-top: 15px;
  }
  .boxY2-3 > button > div:nth-child(2) {
    padding-top: 10px;
  }
  .boxY3-1 {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
  }
  .tableboxY {
    width: 17%;
    height: 80%;
    margin-left: 20px;
    margin-top: 30px;
  }
  .listBlankY {
    list-style-type: none;
  }
  .listBlankY > li:nth-child(1) {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .lastblankY {
    font-size: 12px;
    color: #bdbec1;
    text-decoration: none;
    line-height: 25px;
  }
  .lastblankY:hover {
    text-decoration: underline;
  }

  .lastblankYword {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    line-height: 25px;
  }
  .lastblankYword:hover {
    text-decoration: underline;
  }

  .boxY4-1 {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .boxY4-2a,
  .boxY4-2b {
    width: 100%;
    height: 48%;
  }
  .boxY4-2a {
    display: flex;
  }
  .boxY4-2a-1 {
    width: 10%;
    height: 40%;
    text-align: center;
    margin-top: 20px;
    display: flex;
  }
  .boxY4-2a-1 > button {
    border: 0;
    color: #bdbec1;
    font-size: 12px;
    background-color: #363738;
  }
  .boxY4-2a-2 {
    width: 40%;
    height: 20%;
    justify-content: right;
    display: flex;
    margin-top: 20px;
    /* float: right; */
    margin-left: 48%;
    gap: 20px;
    font-size: 12px;
    color: #bdbec1;
  }
  .indImgY {
    width: 15px;
    margin-left: 10px;
  }
  .boxY4-2b-a {
    width: 30%;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px;
    color: #bdbec1;
  }
  .lineY {
    width: 1px;
    height: 15px;
    background-color: #bdbec1;
  }
  .fa {
    font-size: 24px;
  }
  
  .country-flag {
    margin-top: 25px;
    margin-left: 300px;
    width: 15px;
    height: 11px;
    margin-right: 8px;
    display: flex;
  }
  

  